// CSS GLOBAL STYLES

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

$roboto: "Roboto", sans-serif;

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fullScreen {
  width: 100vw;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #b9b9b9, #4b4b4b);
  font-family: $roboto;
  @include fullScreen;
  @include centerContent;
}
button {
  font-family: $roboto;
}
