// CSS GLOBAL STYLES

.code-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 30px;
}

.code-title {
	font-size: 3rem;
	font-weight: 500;
	color: #3f434b;
	background-color: rgba(179, 179, 179, 0.739);
	padding: 20px 50px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.excuse-container {
	background-color: rgba(179, 179, 179, 0.739);
	padding: 20px 50px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.excuse-container ul,
.excuse-container p {
	font-size: 1.4rem;
	color: #3f434b;
	list-style-type: none;
	line-height: 3rem;
	text-align: center;
}
