// CSS EXCUSES GENERATOR

.title-gen {
	color: #44444490;
	font-size: 4.5rem;
	font-weight: bold;
	margin-bottom: 5rem;
	text-align: center;
}

.excuse-gen {
	font-size: 2rem;
	color: #282c34;
	margin-bottom: 5rem;
	text-align: center;
}
