// CSS RANDOM BUTTON

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.randombtn {
  background-color: #f93dedc4;
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  color: #cfcfcf;
  cursor: pointer;
  font-size: 2rem;
  margin: 0.5rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.randombtn:hover {
  background-color: #d53fe0be;
  color: #ffffff;
}
